@model KingShipper.Models.ResponseModel<KingShipper.Areas.Admin.Models.UserPermissionModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="graph-visual tables-main">
    <h2 class="inner-tittle">User - Permission</h2>
    <div class="graph">
        <div class="tables">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <a href="#" id="updateUserPermission">Cập nhật</a>
                        </th>
                    </tr>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @{   var i = 1; var check = "";}
                    @if (Model.DataList != null && Model.DataList.Count > 0)
                    {
                        foreach (var item in Model.DataList)
                        {
                            check = "";
                            if (item.Status == 1)
                            {
                                check = "checked";
                            }
                            <tr>
                                <th scope="row">@i</th>
                                <td>@item.NameAction</td>
                                <td><input name="Status" type="checkbox" @check value="@item.PermissionID" /></td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var url = "http://localhost:64955/Admin/UserPermission/Update"
        $("input[name='Status']").on('click', function () {
            var permissionId = $(this).val();
            $.ajax({
                url: url,
                method: "POST",
                data: { permissionId: permissionId },
                success: function (result) {
                    alert(result.status);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
    });
</script>